<div class="container">
  <div class="py-5">
    <h1 class="text-center text-primary">Todo App</h1>
    <div class="d-flex pt-4">
      <input #todo class="form-control me-1" name="todo" type="text" placeholder="Add Todo">
      <span class="btn btn-primary d-flex align-items-center rounded-pill p-2" (click)="addTodo(todo.value); todo.value = '';"><i class="material-icons">add</i></span>
    </div>
    <ul class="list-group pt-2">
      <li *ngFor="let todo of todos" class="list-group-item d-flex justify-content-between align-items-center">{{todo}}<i (click)="deleteTodo(todo)" class="btn material-icons">delete</i></li>
    </ul>
  </div>
</div>