<div class="container">
  <div class="py-5">
    <h1 class="text-center text-primary">ToDo App</h1>
    <form class="pt-4">
      <div class="form-floating mb-3">
        <input #name type="text" class="form-control" id="floatingName" placeholder="Name..." required>
        <label for="floatingName">Title</label>
      </div>
      <div class="form-floating mb-3">
        <textarea #text class="form-control" id="floatingText" placeholder="Text..." required></textarea>
        <label for="floatingText">Description</label>
      </div>
      <div class="mb-3 d-flex justify-content-center">
        <button class="btn btn-primary d-flex align-items-center rounded-pill p-2"
          (click)="addTodo(name.value, text.value)">
          <i class="material-icons">add</i>
        </button>
      </div>
    </form>
    <div class="row justify-content-center">
      <div *ngFor="let todo of todos; let i=index" class="card m-2 a-0" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">{{todo.name}}</h4>
          <p class="card-text">{{todo.text}}</p>
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <small>{{todo.date}}</small>
            </div>
            <div class="col-3">
              <button class="btn bg-light p-0" (click)="deleteTodo(i)">
                <i class="btn material-icons">delete</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="text-center">
  <a class="text-dark" href="https://webmastersaid.github.io/" target="_blank">© findsaid</a>
</footer>
